table {
    border: 1px solid black;
    border-collapse: collapse;
    max-width: 1600px;
    min-width: 600px;

}

th {
    border: 1px solid black;
    width: 400px;
    padding: 20px;
    height: 40px;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 50px 20px;
    background-color: khaki;
}
#admin , #master,  #user {
    background-color: lightseagreen;
}
